* {
	margin: 0;
	padding: 0;
	border: 0;
}

#headshot {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
}

.top {
	height: 100vh;
	padding-top: 100px;
}

body {
	background-image: url('img/MountainRoadBG.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.top h1 {
	font-family: Roboto;
	font-size: 60px;
	text-align: center;
	color: white;
	background-color: rgba(176, 219, 238, 0.5);
	border-radius: 10px;
	margin-top: 100px;
}

nav {
	background-color: #115883;
	display: block;
	height: 50px;
	position: fixed;
	width: 100%;
}

.topnav {
	border: 1px solid #ccc;
	border-width: 1px 0;
	list-style: none;
	margin: 0;
	padding: 0;
}

.topnav li {
	display: inline;
}

.topnav a {
	padding: 10px 40px 10px 40px;
	color: white;
	font-family: Roboto Condensed;
	font-size: 20px;
	text-decoration: none;
}

.topnav a:hover {
	text-decoration: underline;
	color: #DA472B;
}

#leftnav {
	display: inline-block;
	width: 50%;
	float: left;
}

#leftnav a {
	float: left;
}

#rightnav {
	display: inline-block;
	width: 50%;
	float: right;
}

#rightnav a {
	float: right;
}

.summary {
	height: auto;
	width: 100%;
	background-color: #3D3D3D;
	display: inline-block;
}

.summary h2 {
	font-family: Roboto;
	color: white;
	text-align: center;
	padding: 20px 0 10px 0;
}

#summaryPicture {
	height: 64px;
	padding-top: 0px;
	padding-left: 60px;
	float: left;
	display: block;
	max-width: 64px;
	width: 15%;
}

.summary p {
	font-family: Roboto Thin;
	font-size: 20px;
	padding: 00px 50px 30px 50px;
	color: white;
	float: left;
	display: block;
	width: 80%;
}

.tiles {
	display: block;
}

.tiles :hover {
	-webkit-box-shadow: inset 10px 10px 59px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 10px 10px 59px 0px rgba(0,0,0,0.75);
	box-shadow: inset 10px 10px 59px 0px rgba(0,0,0,0.75);
}

.tiles h2 {
	margin-top: 170px;
	font-size: 30px;
	font-family: Roboto;
	color: white;
}

#tile1 {
	width: 50%;
	height: 50vh;
	background-color: #74B1CD;
	display: inline;
	float: left;
	text-align: center;
}

#tile2 {
	width: 50%;
	height: 50vh;
	background-color: #808AD5;
	display: inline;
	float: right;
	text-align: center;
}

#tile3 {
	width: 50%;
	height: 50vh;	
	background-color: #FFDF88;
	display: inline;
	float: left;
	text-align: center;
}

#tile4 {
	width: 50%;
	height: 50vh;	
	background-color: #FFC98B;
	display: inline;
	float: right;
	text-align: center;
}