#tile {
	width: 900px;
	height: 600px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	border-color: black;
	border: 1px solid #000;
	box-shadow: 10px 10px 5px #888888;
}

#tile h2 {
	font-family: Roboto Thin;
	color: #A5A5A5;
	margin-left: 20px;
	margin-bottom: 0px;
	margin-top: 15px;
	display: inline;
}

#tile p {
	font-family: Roboto Thin;
	color: #A5A5A5;
	display: inline;
}